html {
  position: relative;
  min-height: 100%;
}

body {
  
}

.btn:disabled {
  cursor:default;
}

.options_icon {
  float: right;
}

#alerts {
  z-index: 1051;
  pointer-events: none;
}

.alert {
  pointer-events: fill;
}

.ghost {
  opacity: .4;
  background: var(--primary);
}
.playlist {
  cursor: move;
}

.spotify,
.spotify a {
  color: #fff !important;
  background-color: #1ED760 !important;
  border-color: #1ED760 !important;
}
.spotify:active,
.spotify.active,
.spotify:focus,
.spotify.focus,
.spotify:hover,
.spotify a:hover {
  background-color: #17ad4c !important;
  border-color: #17ad4c !important;
}

/*
.news_box {
  $modal-fade-transform: scale(.8).
}
*/
/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 60px;  Set the fixed height of the footer here */
  /* line-height: 60px;  Vertically center the text there */
}
*/
