body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main {
	height: 50vh;
	width: 100vh;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.button {
	background-color: #007bff; /* Blue */
	border: none;
	border-radius: 8px;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 34px;
	margin: 4px 2px;
	cursor: pointer;
	
}
